# single file
make.log
Makefile.depend
component.nfo.new
product.mk
product.mk.local
.copyarea.db
ior.dat
core
!/fds/core
.lock-wafbuild
totalTestCaseNumber.log
xmlReport.xml
cobertura.ser
a.out
pk_build_error.log*
watcher
testMain
acdump

#composer
.dupclasspath
#.project
composer.conf

#eclipse

#files
*.o
*.so
*.swp
*.orig
*.keep
*.tar
*.tar.gz
*.class
*.zip
*.a
*.output
*.log

#directories
bin/
logs/
_${env.MACS_COMPILATION_MODE}/
tar_mirror/
nbproject/
doc/
!/doc/
report/
generated/
build/
_JUnit/
CheckStyleResult/
classes/
#bin/
target/
.ccache
cobertura
junit_output
.springBeans

*.pyc
admin/linux/install/3pp/

.Rproj.user
